// Your custom styles

/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100%;
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}

.abc {
  border: solid;
  width: 200px;
  height: 200px;
  background-color: blue;
}

.scene {
  width: 100%;
  height: 300px;
  margin: 0;
  perspective: 600px;
  .cardSixSigma {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

    .card__face {
      position: absolute;
      width: 100%;
      height: 100%;
      color: black;
      text-align: center;
      font-weight: bold;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card__face--front {
      border-radius: 8px;
    }
    .card__face--back {
      border-radius: 8px;
      background: #fcfcfb;
      transform: rotateY(180deg);
      h4 {
        color: #1f365c;
      }
    }
    .greenCard {
      background-color: #01c476;
    }
    .blackCard {
      background-color: #221e1f;
    }
    &:hover {
      transform: rotateY(180deg);
    }
    &.is-flipped {
      transform: rotateY(180deg);
    }
  }
}

.sixSigmaDesc {
  .content {
    .card {
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
.navHoverEffect {
  &:hover {
    color: #d50000 !important;
    background-color: white;
  }
}
.impactbgfocusNew {
  font-weight: 700;
  color: white;
  background-color: #d50000;
  border: solid 1px #d50000;
  &:hover {
    color: #d50000;
    background-color: white;
  }
}
